.anchorPane {
    -fx-background-image: url("../assets/Backgrounds/blue.jpg");
    -fx-background-size: cover;
}
.iconPanel {
    -fx-opacity: 0.75 ;
    -fx-background-image: url("../assets/TransparentButton/bg.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-pref-width: 300;
    -fx-pref-height: 40;
    -fx-label-padding: 15px;
    -fx-text-fill: white;
    -fx-font-size: 16;
}

.iconPanel:hover{
    -fx-opacity: 0.90 ;
    -fx-label-padding: 20px;
}

.mainIcon {
    -fx-pref-height: 30;
    -fx-pref-width: 30 ;
    -fx-smooth: true ;

}

.iconLabel {
    -fx-font-size: 16px;
    -fx-text-fill: white;
}

.researchPanel {
    -fx-opacity: 0.75;
    -fx-background-color: gray ;
    -fx-alignment: center;
    -fx-pref-width: 150px;
    -fx-pref-height: 150px;
}

.researchPanel:hover{
    -fx-opacity: 0.90;
}

.technologyProgressBar {
    -fx-opacity: 0.75 ;
    -fx-background-color: Red ;
    -fx-background-radius: 20 ;
    -fx-border-radius: 20;
}

.technologyProgressBar:hover {
    -fx-opacity: 0.90;
}