.anchorPane {
    -fx-background-image: url("../assets/Backgrounds/mainMenu.png");
    -fx-background-size: cover;
}
.button {
    -fx-background-image: url("../assets/Button_Normal.png");
    -fx-background-size:  100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-pref-height: 22;
    -fx-font-size: 18;
    -fx-font-family: "B Nazanin";
    -fx-text-fill: #000000;
    -fx-opacity: 80%;
}
.button:hover {
    -fx-background-image: url("../assets/Button_Down.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-text-fill: #fff;
    -fx-cursor: hand;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
}
.button:pressed{
    -fx-background-image: url("../assets/Button_Selected.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-border-color: #0dd214;
    -fx-border-radius: 3px;
    -fx-text-fill: #debf09;
}